.Contact
{
    align-items: center;
    background-color: var(--primary-dark);
    display: flex;
    height: auto;
    padding: 33vh 8vw;
}

.Contact-form-container, .Contact-details
{
    width: 50%;
}

.Contact-form-container
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Contact-details
{
    display: flex;
    flex-direction: column;
}

#Contact-form
{
    display: flex;
    flex-direction: column;
    min-width: 75%;
}

#Contact-form > input
{
    background-color: var(--white);
    border-radius: 4px;
    border: none;
    font-family: Poppins-medium, sans-serif;
    font-size: 1rem;
    height: 4vh;
    margin-bottom: 2vh;
    padding: 5px 10px;
}

#Contact-touch
{
    font-family: Poppins-bold, sans-serif;
    font-size: 4rem;
    color: var(--white);
}

#Contact-intro
{
    font-family: Poppins-medium, sans-serif;
    background-image: var(--gradient);
    background-clip: text;
    color: transparent;
    font-size: 1.5rem;
}

#Contact-form > label
{
    font-family: Poppins-medium, sans-serif;
    background-image: var(--gradient);
    background-clip: text;
    color: transparent;
    font-size: 1.1rem;
}

#Contact-email
{
    color: var(--white);
    font-family: Poppins-regular, sans-serif;
    font-size: 1.5rem;
}

#Contact-email > i
{
    margin-right: .7rem;
    font-size: 1.5rem;
}

.Contact-icons
{
    display: flex;
    gap: 1rem;
    font-size: 2rem;
    margin-top: 1rem;
}

#desc-input
{
    border-radius: 4px;
    border: none;
    font-family: Poppins-medium, sans-serif;
    height: 10vh;
    padding: 5px 10px;
    resize: none;
}

#submit-btn
{
    background-color: var(--accent-blue);
    border-radius: 4px;
    border: none;
    color: var(--primary-dark);
    font-family: Poppins-bold;
    font-size: 1.2rem;
    height: 3.5vh;
    margin-top: 2vh;
    max-width: 25%;
    min-width: 150px;
}

@media all and (max-width: 1080px)
{
    .Contact
    {
        flex-direction: column;
        justify-content: center;
        gap: 5vh;
    }

    .Contact-details
    {
        text-align: center;
    }

    .Contact-icons
    {
        justify-content: center;
    }

    #submit-btn
    {
        align-self: center;
    }
}

@media all and (max-width: 746px)
{
    #Contact-touch
    {
        font-size: 1.7rem;
    }

    #Contact-intro
    {
        font-size: 1.2rem;
    }

    #Contact-email, #Contact-email > i
    {
        font-size: 1rem;
    }

    .Contact-icons
    {
        font-size: 1.5rem;
    }
}

@media all and (max-width: 505px)
{
    #Contact-email > i
    {
        display: none;
    }

    #Contact-intro
    {
        font-size: .8rem;
    }
}
