.Header
{
    align-items: center;
    background-color: var(--primary-dark);
    display: flex;
    height: 7vh;
    justify-content: space-between;
    padding: var(--padding);
    position: sticky;
    top: 0;
    z-index: 1;
}

#Header-logo
{
    color: white;
    font-family: Poppins-bold, sans-serif;
    font-size: 1.5rem;
    cursor: pointer;
    transition: ease-out 0.1s;
}

#Header-logo:hover
{
    background-clip: text;
    background-image: var(--gradient);
    color: transparent;
}

.Header-icons
{
    display: flex;
    gap: 2vw;
}

.Header-icons > a > i
{
    color: white;
    font-size: 2rem;
    transition: ease-in 0.1s;
}

.Header-icons > a > i:hover
{
    background-clip: text;
    background-image: var(--gradient);
    color: transparent;
}

@media all and (max-width: 502px)
{
    .Header-icons
    {
        gap: 5vw;
    }
}