.Landing
{
    background-color: var(--primary-dark);
    color: var(--white);
    display: flex;
    font-family: Poppins-bold, sans-serif;
    height: 90vh;
    justify-content: space-between;
    padding: var(--padding);
}

.Landing-img
{
    width: 50%;
}

.Landing-img
{
    align-self: center;
    display: flex;
    height: 45vh;
    justify-content: flex-end;
    margin-bottom: 10vh;
    position: relative;
    /*Being used to maintain position of the elements*/
    min-width: 807px;
}

.Landing-greeting
{
    align-self: center;
    font-size: 1.7rem;
    margin-bottom: 10vh;
    width: auto;
}

#Landing-para-mobile
{
    display: none;
}

#Landing-button
{
    background-color: var(--accent-blue);
    border-radius: 2px;
    border: none;
    color: var(--primary-dark);
    font-family: Poppins-bold, sans-serif;
    padding: .4rem;
    min-width: 25%;
}

#Landing-about-me
{
    font-size: 1.5rem;
    min-width: 243px;
    position: absolute;
    top: 95%;
}

#Landing-hero-svg
{
    position: absolute;
    right: 25%;
    top: 20%;
}

#Landing-project
{
    font-size: 1.5rem;
    left: 0;
    position: absolute;
    top: 5%;
}

#Landing-intro, #Landing-project, #Landing-about-me
{
    background-clip: text;
    background-image: var(--gradient);
    color: transparent;
}

@media all and (max-width: 1671px) {
    .Landing-img
    {
        display: none;
    }

    .Landing
    {
        justify-content: center;
    }

    .Landing-greeting
    {
        text-align: center;
    }
}

@media all and (max-width: 709px) {
    #Landing-para
    {
        font-size: 1.2rem;
    }

    #Landing-button
    {
        width: 75%;
    }
}

@media all and (max-width: 502px) {
    #Landing-para
    {
        font-size: 1rem;
    }

    #Landing-button
    {
        width: 75%;
        font-size: .8rem;
    }

    #Landing-name
    {
        font-size: 2.5rem;
    }

    #Landing-intro
    {
        font-size: 1.2rem;
    }
}

@media all and (max-width: 417px) {
    #Landing-para-mobile
    {
        display: block;
        font-size: 1rem;
    }

    #Landing-para
    {
        display: none;
    }
}