#project-desc-left
{
    align-self: flex-start;
}

.project-body-left
{
    display: flex;
    flex-direction: column;
    width: 50%;
}

#project-tech-left, #project-desc-left, .project-links-left
{
    font-family: Poppins-regular, sans-serif;
    color: var(--white);
}

.project-links-left
{
    display: flex;
    gap: 1rem;
}