.project-details
{
    background-color: black;
    padding: 2rem;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    margin-bottom: 10px;
}

.project-tech-used
{
    font-family: Poppins-medium, sans-serif;
    color: var(--accent-blue);
}

.project-featured
{
    font-family: Poppins-regular, sans-serif;
    color: var(--accent-blue);
}

.project-title
{
    font-family: Poppins-bold;
    color: var(--white);
}

a
{
    text-decoration: none;
    color: var(--white);
}

.project
{
    display: flex;
    align-items: center;
}

.project-img
{
    width: 43vw;
    background-color: aqua;
    height: 38vh;
    box-shadow: 1px 5px 0 black;
}

.project-desc
{
    width: 70%;
    align-self: flex-end;
}

.project-body
{
    width: 45%;
    text-align: right;
    display: flex;
    flex-direction: column;
}

.project-links
{
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}
