#project-desc-right
{
    align-self: flex-end;
}

.project-body-right
{
    display: flex;
    flex-direction: column;
    text-align: right;
    width: 50%;
}

#project-tech-right, #project-desc-right, .project-links-right
{
    font-family: Poppins-regular, sans-serif;
    color: var(--white);
}

.project-links-right
{
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}