.ProjectRightAligned, .ProjectLeftAligned
{
    display: flex;
    align-items: center;
}

.project-details
{
    background-color: black;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    margin-bottom: 10px;
    padding: 2rem;
}

div[class^='project-links'] > span > a
{
    transition: ease-out 0.1s;
}

div[class^='project-links'] > span > a:hover
{
    background-clip: text;
    background-image: var(--gradient);
    color: transparent;
}

.project-img
{
    width: 50%;
    height: 50%;
    box-shadow: 1px 5px 0 black;
}

#project-desc
{
    width: 70%;
}

#project-title
{
    font-family: Poppins-bold;
    color: var(--white);
}

#project-tech-used
{
    font-family: Poppins-medium, sans-serif;
    color: var(--accent-blue);
}

#project-featured
{
    font-family: Poppins-regular, sans-serif;
    color: var(--accent-blue);
}

a
{
    text-decoration: none;
    color: var(--white);
}

@media all and (max-width: 1110px)
{
    #project
    {
        flex-direction: column;
        position: relative;
        padding-top: 2vh;
        padding-bottom: 2vh;
    }

    #project > img 
    {
        display: none;
    }

    #project::before
    {
        content: "";
        background-image: url('../images/raycaster image.jpg');
        position: absolute;
        background-size: cover;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        opacity: .4;
    }

    .project-text, .project-details, div[class^='project-links']
    {
        position: relative;
    }

    #project > *, p[id^="project-desc"]
    {
        text-align: center;
    }

    div[class^="project-links"]
    {
        justify-content: center;
    }

    div[class^="project-body"]
    {
        width: 100%;
    }

    .project-details
    {
        margin: 0 10vw;
    }
}

@media all and (max-width: 700px)
{
    #project-title
    {
        font-size: 1.5rem;
    }

    p[id^='project-desc']
    {
        font-size: .8rem;
    }

    p[id^='project-tech']
    {
        font-size: .8rem;
    }

    div[class^='project-links']
    {
        font-size: .8rem;
    }
}